header {
    font-family: 'Times New Roman', serif;
    text-align: center;
}
h1 {
    color: white;
}
h2 {
    background-image: linear-gradient(to bottom right, goldenrod, gold, goldenrod);
    color: white;
    text-shadow: 2px 2px #747474;
    padding: 8px;
    margin: -8px;
    border-bottom: #194f2b solid 4px;
}
body {
    font-family: 'Helvetica', sans-serif;
    background-image: url(images/canyon-5552326_1920.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
h3 {
    text-align: center;
    font-size: 1.5em;
}
.button {
    text-align: center;
}
a.btn {
    text-decoration: none;
    border: 1px goldenrod solid;
    color: white;
    background-image: linear-gradient(to bottom right, goldenrod, gold, goldenrod);
    padding: 4px;
    margin: auto 10px;
}
section {
    background: rgba(159, 226, 191, 0.6);
    width: 800px;
    padding: 8px;
    margin: 16px auto;
}
figure {
    float: left;
    margin: auto 8px auto auto;
}
figcaption {
    font-style: italic;
}
.quote {
    text-decoration: underline;
    font-weight: bold;
}
.link {
    color: #194f2b;
    text-align: end;
}
#quote-bar {
    width: 100%;
    position: absolute;
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-top:#194f2b solid 4px;
    margin: 8px -8px 8px -8px;
}
.btn:hover {
    background: #194f2b;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }